name: Bench

on:
  pull_request:

jobs:
  micro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build
        run: make relwithdebinfo \
          CMAKE_ARGS='-DULAYFS_BUILD_BENCH=ON' \
          BUILD_TARGETS='micro_st micro_mt micro_meta ulayfs'

      - name: micro_st
        run: BENCH_NUM_ITER=10 ./run micro_st relwithdebinfo

      - name: micro_mt
        run: BENCH_NUM_ITER=10 ./run micro_mt relwithdebinfo

      - name: micro_meta
        run: BENCH_NUM_ITER=10 ./run micro_meta relwithdebinfo

  leveldb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build
        run: make CMAKE_ARGS='-DULAYFS_BUILD_BENCH=ON' \
          BUILD_TARGETS='leveldb_tests leveldb_ycsb ulayfs'

      - name: leveldb_tests
        run: ./run leveldb_tests

      - name: ycsb
        run: |
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/a-load.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/a-run.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/b-load.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/b-run.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/c-load.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/c-run.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/d-load.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/d-run.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/e-load.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/e-run.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/f-load.txt"
          ./run leveldb_ycsb -p="-f bench/ycsb-traces/f-run.txt"

  tpcc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build
        run: make CMAKE_ARGS='-DULAYFS_BUILD_BENCH=ON' \
          BUILD_TARGETS='tpcc_load tpcc_start ulayfs'

      - name: run
        run: ./scripts/bench_tpcc
